body {
  background-color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  color: cyan;
}
.h1 {
  font-family: "Poppins", "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  color: #ff6347;
  text-align: center;
  margin: 20px 0;
}
.h3 {
  font-size: 12px;
  text-align: center;
  color: rgb(183, 0, 255);
}
.h2 {
  font-size: 14px;
  color: lightgreen;
  text-align: center;
  margin: 20px 0;
}
.p1-wrapper,
.p4-wrapper,
.p5-wrapper {
  background-color: rgba(50, 50, 50, 0.8);
  margin: 20px auto;
  padding: 15px;
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.p1-wrapper {
  background-color: rgba(255, 0, 0, 0.5);
}
.p4-wrapper {
  background-color: darkgreen;
}
.p5-wrapper {
  background-color: rgb(230, 0, 255, 0.5);
}
.p1-wrapper:hover,
.p4-wrapper:hover,
.p5-wrapper:hover {
  white-space: wrap;
}
.p1 {
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  color: rgba(0, 255, 255, 0.8);
  text-align: justify;
  line-height: 1.8;
}
.p4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: lightcoral;
  text-align: justify;
  line-height: 1.8;
}
.p5 {
  font-family: "Georgia", serif;
  font-size: 12px;
  color: rgba(255, 255, 192, 0.9);
  text-align: justify;
  line-height: 1.8;
}
.btn1 {
  background-color: rgb(11, 11, 11);
  font-family: cursive;
  font-size: 18px;
  color: rgba(255, 200, 255, 1);
  border: 1px solid rgb(10, 10, 10);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  width: auto;
  display: inline-block;
}
.btn1:hover {
  color: rgba(0, 255, 255, 0.8);
  text-transform: capitalize;
}
ol,
ul {
  margin: 20px auto;
  padding: 0;
  list-style-position: inside;
  width: 70%;
}
ol li,
ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
  transition: transform 0.2s ease, background-color 0.3s ease;
}
ol li:hover,
ul li:hover {
  background-color: rgba(0, 255, 255, 0.3);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
}
.profile-img {
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px cyan;
}
#sw {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 18px;
  color: rgba(255, 200, 255, 1);
  cursor: pointer;
}
.p2,
.p3 {
  text-align: center;
}
